/* Custom CSS */

.serviceInfo{
    text-align: justify;
}

#serviceList li{
    padding-left: 10px;
}

.team-bio {
    text-align: justify;
    padding-bottom: 10px;
}

.entry-content{
    margin-bottom: 30px;
}

.saying h1{
    background: #4d8077;
    font-family: "Over the Rainbow";
    font-size: 45px;
    color: white;
    padding: 15px;
}

#services{
    margin-left: 5px;
}

#services p{
    margin-left:  15px;
}

.fa-chevron-right{
    color: #f96c2f;
}

/* Footer Addresses for Mobile*/

.listnoneScreen { list-style: none; padding: 0px; }

.listnoneMobile { list-style: none; padding: 0px; }

.fa-map-marker{
    color: #f96c2f;
}

.listAddresses {
    font-size: smaller;
    margin-left: 5px;
}

@media (min-width: 200px) and (max-width: 769px) {
    .listnoneScreen{
        display: none;
    }
}

@media (min-width: 770px){
    .listnoneMobile{
        display: none;
    }
}

@media (min-width: 200px) and (max-width: 769px) {
    .hero-section{

    }
}